# ========== JAVA ==========

*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# ========== MAVEN ==========
target/
.mvn/
!**/mvn/wrapper/maven-wrapper.jar

# ========== GRADLE (caso misto) ==========
.gradle/
build/

# ========== SPRING ==========
springdoc-openapi.json
springdoc-openapi.yaml
*.h2.db
*.mv.db
.env
application-*.properties
application-*.yml

# ========== IDEs ==========
*.iml
.idea/
.vscode/
*.classpath
*.project
*.settings/
nbproject/
*.nb-gradle/

# ========== OS ==========
.DS_Store
Thumbs.db

# ========== TEMP ==========
*.tmp
*.bak
*.backup
.swp
.swo
